# Import Required Libraries
Import the necessary libraries, including pandas.

In [2]:
# Import the necessary libraries, including pandas
import pandas as pd

# Load CSV File
Use pandas to load data from a CSV file into a DataFrame.

In [4]:
# Load CSV File
# Use pandas to load data from a CSV file into a DataFrame.

# Load the CSV file into a DataFrame
df = pd.read_csv(r'C:\OneDrive\UFJF\Trabalhos\UFJF\MÃ©todos Quantitativos\DataSet\sa.csv')

# Display the first few rows of the DataFrame
df.head()

,actualDist,rttRaw,estDistRaw,absErrRaw,rttEst,estDistEst,absErrEst,varRtt,meanRtt,countRtt,meanRss,distEst,distEstOwn
0,3.500514,21,3.147821,0.352693,9,1.349066,2.151448,1.333333,21.333333,3,-74.000000,1.43,2.0
1,10.112116,34,5.096472,5.015645,20,2.997925,7.114192,13.000000,35.000000,3,-78.000000,3.12,4.0
2,10.622754,71,10.642632,0.019878,52,7.794604,2.828150,36.000000,72.000000,3,-86.666667,7.93,8.0
3,1.686090,107,16.038897,14.352806,84,12.591283,10.905193,70.333333,107.333333,3,-85.666667,12.61,12.6
4,3.500514,19,2.848028,0.652486,7,1.049274,2.451241,3.000000,19.000000,3,-74.000000,1.17,2.0

# Display Data
Display the first few rows of the DataFrame to verify the data has been loaded correctly.

In [5]:
# Display Data
# Display the first few rows of the DataFrame to verify the data has been loaded correctly.
df.head()

,actualDist,rttRaw,estDistRaw,absErrRaw,rttEst,estDistEst,absErrEst,varRtt,meanRtt,countRtt,meanRss,distEst,distEstOwn
0,3.500514,21,3.147821,0.352693,9,1.349066,2.151448,1.333333,21.333333,3,-74.000000,1.43,2.0
1,10.112116,34,5.096472,5.015645,20,2.997925,7.114192,13.000000,35.000000,3,-78.000000,3.12,4.0
2,10.622754,71,10.642632,0.019878,52,7.794604,2.828150,36.000000,72.000000,3,-86.666667,7.93,8.0
3,1.686090,107,16.038897,14.352806,84,12.591283,10.905193,70.333333,107.333333,3,-85.666667,12.61,12.6
4,3.500514,19,2.848028,0.652486,7,1.049274,2.451241,3.000000,19.000000,3,-74.000000,1.17,2.0

# Basic Data Analysis
Perform basic data analysis, such as checking for missing values and getting summary statistics.

In [6]:
# Basic Data Analysis

# Check for missing values in the DataFrame
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

# Get summary statistics of the DataFrame
summary_statistics = df.describe()
print("\nSummary statistics:\n", summary_statistics)

Missing values in each column:
 actualDist    0
rttRaw        0
estDistRaw    0
absErrRaw     0
rttEst        0
estDistEst    0
absErrEst     0
varRtt        0
meanRtt       0
countRtt      0
meanRss       0
distEst       0
distEstOwn    0
dtype: int64

Summary statistics:
         actualDist       rttRaw   estDistRaw    absErrRaw       rttEst  \
count  4069.000000  4069.000000  4069.000000  4069.000000  4069.000000
mean      6.022667    58.729172     8.803281     4.447799    41.858442
std       2.585170    27.611896     4.138919     4.094357    24.221997
min       1.501200     9.000000     1.349066     0.004451     0.000000
25%       4.031737    42.000000     6.295642     1.345348    27.000000
50%       6.049207    56.000000     8.394189     2.869919    39.000000
75%       8.036971    78.000000    11.691906     6.376494    58.000000
max      10.622754   214.000000    32.077793    28.046056   170.000000

        estDistEst    absErrEst        varRtt      meanRtt     countRtt  \
count  4069.000000  4069.000000   4069.000000  4069.000000  4069.000000
mean      6.274423     3.850714    104.670763    59.249037     2.845417
std       3.630786     3.082419   1023.651204    27.612351     0.418291
min       0.000000     0.003718      0.000000     9.666667     1.000000
25%       4.047198     1.537312      2.333333    42.000000     3.000000
50%       5.845953     2.954253      9.333333    56.000000     3.000000
75%       8.693981     5.793704     40.333333    78.000000     3.000000
max      25.482359    21.450622  36720.500000   213.666667     3.000000

           meanRss      distEst   distEstOwn
count  4069.000000  4069.000000  4069.000000
mean    -79.049029     6.348611     6.488729
std       6.135585     3.632460     3.311190
min     -92.000000     0.000000     1.000000
25%     -83.333333     4.160000     2.000000
50%     -80.000000     5.980000     7.500000
75%     -75.000000     8.840000     8.000000
max     -41.500000    25.600000    19.000000